# Visual Studio
*.ncb
*.sln
*.suo
*.exe
*.ilk
*.pdb
*.vcproj
*.user
*.manifest
*.res
*.obj
*.htm
*.dep
*.idb
*.pdb
*.rc
*.aps
*.h

# My configurations:
0_github_solution/
5_dijkstra_shortest_path_heap (C++)/
Python Version/